<div>
    <section class="py-4">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{event.eventImage}}" alt="..." />
                </div>
                <div class="col-md-6">
                    <!-- <div class="small mb-1">SKU: BST-498</div> -->
                    <h1 class="display-5 fw-bolder">{{event.eventName}}</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-primary">Rs {{event.price}}/-</span><br>
                        <span class="fw-bolder" style="color: rgb(245, 17, 245);">{{event.date}}</span><br>
                        <span>Time: <span class="text-warning fw-bolder">{{event.time}}</span></span><br>
                        <span>Organizers : <span class="fw-bolder">{{event.organizer}}</span></span>
                    </div>
                    <p class="lead">"{{event.description}}"</p>
                    <div class="">
                        <!-- <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button> -->
                        <button class="circle-button anim" (click)="booknow()">
                            Book now
                        </button>
                        <button class="btn btn-outline-danger" style="margin-left: 60%;" (click)="back()" >Back</button>

                    </div>

                </div>
            </div>
        </div>
    </section>

</div>