<div class="div1" style="background-image: url(https://i.postimg.cc/d0PmR4Hc/modern-geometrical-wallpaper-with-round-lines-23-2148811528.jpg);">
    <div class="w-50 container  " style="padding-top: 5%; ">
        <a class="input-group " style="text-decoration: none; ">
            <input type="text" style="border-radius: 10px; border: 1px black solid;" class="form-control "
                placeholder="Search for an event" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button class="btn btn-warning ms-2" style="border-radius: 10px;" type="button"
                id="button-addon2">Search</button>

        </a>
    </div>

    <div class="div3 w-100 container" style="margin-top: 2%;">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div class=" row w-100 container text-center " >
            <h2 style="text-decoration: underline rgb(245, 17, 245); margin-bottom: 5%;">Categories</h2>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-none"><i
                        class="fa-solid fa-compact-disc fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Concert</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-none"><i
                        class="fa-solid fa-briefcase fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Business</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-none"><i
                        class="fa-solid fa-suitcase-medical fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Medical</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-none"><i
                        class="fa-solid fa-book fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Literature</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-none"><i
                        class="fa-solid fa-film fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Film festival</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-none"><i
                        class="fa-solid fa-laptop-code fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Hackathon</p>
                </button>
        </div>
        <button class="btn btn-link text-dark fs-6">View All>></button></div>

    </div><!-- Content section-->
    <div class="w-100">
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div *ngFor="let i of eventarray" class="col mb-5 anim " >
                        <div class="card h-100 " style="background-image: url({{i.eventImage}}); background-size: cover; background-position: center;">
                            <!-- Product image-->
                            <!-- <img class="card-img-top" src="{{i.eventImage}}" alt="..." /> -->
                            <!-- Product details-->
                            <div class="card-body p-4"  >
                                <div class="text-center " style="background-color: rgba(255, 255, 255, 0.8);border-radius: 20%; margin-top: 75%;">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder pt-2 ">{{i.eventName}}</h5>
                                    <!-- Product price-->
                                    <p class="text-primary fw-bold">Rs:{{i.price}}/-</p>
                                    <p class="fw-bolder">{{i.venue}}</p>
                                    <div class="card-footer pt-0 border-top-0 bg-transparent">
                                        <div class="text-center mt-3"><a class="btn btn-warning mt-auto text-center text-white anim" href="landingPage/viewEvent/{{i.id}}" style="background-color: rgb(245, 17, 245); border-radius: 100%; height: 1%; width: 33%; "  >Book</a></div>
                                    </div>
        
                                </div>
                            </div>
                            <!-- Product actions-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>