
.div1 {
  height: 80vh;
  background-size: cover;
  background-position: center;
}
/* .div4{
  width: 100%;
  height: 200px;
  background-image: url('https://i.postimg.cc/jqytBfzs/meeting-room-with-minimalist-conference-table-gray-wall-and-wood-floor-3d-rendering-photo.jpg');
background-size: cover;
} */
