<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bree+Serif&family=Freehand&family=IBM+Plex+Serif:wght@600&family=Oswald:wght@700&family=Pacifico&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light  fixed-top text-white"
        style="background-color: black;opacity: 50%; color: white;">
        <div class="container" style="color: white;"><a class="navbar-brand text-warning" href="#!">Bookitnow</a><button
                class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active text-warning " aria-current="page"
                            href="#!"><strong>Events</strong></a></li>
                    <li class="nav-item ms-4"><a class="nav-link text-warning" href="#!"><strong>Gallery</strong></a>
                    </li>
                    <li class="nav-item ms-4"><a class="nav-link text-warning" href="#!"><strong>About</strong></a></li>
                </ul>
            </div>
        </div>
    </nav> -->
    <div class="div1  py-5 bg-image-full"
        style=" background-image: url('https://i.postimg.cc/4x3D3yGq/1303830.jpg');width: 100%;">
        <div class=" text-center my-4 " style="margin-top: 0%;">
            <div class="w-50 container  " style="margin-top: 5%; margin-bottom: 5%;">
                <a class="input-group " style="text-decoration: none; ">
                    <input type="text" style="border-radius: 10px;" class="form-control "
                        placeholder="Search for an event" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-warning " style="border-radius: 10px;" type="button"
                        id="button-addon2">Search</button>

                </a>
            </div>
            <h1 class="text-warning  fw-bolder" style="font-family: 'Freehand', cursive;
            ">Book it now</h1>
            <p class="text-white mb-0">Unlock the World of Events</p>
            <button class="btn btn-warning mt-4 anim">Get Started</button>
        </div>
    </div><!-- Content section-->
    <div class="div2 py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-dark">
                    <div class="mt-4" style="border-bottom: 2px black solid;">
                        <h2>Harmonious Beats</h2>
                        <p class="lead">"Experience the thrill of live music as talented artists take the stage,
                            creating an electrifying atmosphere that will leave you spellbound. Join us for an
                            unforgettable night of soul-stirring performances and create memories that will resonate
                            with you long after the last note fades."</p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="w-75 container">
                        <img class="img-fluid" style="border-radius: 50%;"
                            src="https://i.postimg.cc/3xVHr3Tg/pexels-vishnu-r-nair-1105666.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Image element - set the background image for the header in the line below-->
    <div class="div3 w-100 container">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div class=" row w-100 container text-center ">
            <h2 style="text-decoration: underline rgb(245, 17, 245); margin-bottom: 5%;">Categories</h2>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-light"><i
                        class="fa-solid fa-compact-disc fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Concert</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-light"><i
                        class="fa-solid fa-briefcase fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Business</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-light"><i
                        class="fa-solid fa-suitcase-medical fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Medical</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-light"><i
                        class="fa-solid fa-book fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Literature</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-light"><i
                        class="fa-solid fa-film fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Film festival</p>
                </button></div>
            <div class="col-2 container anim"><button type="button" class="btn btn-outline-light"><i
                        class="fa-solid fa-laptop-code fs-1" style="color: rgb(245, 17, 245) ;"></i>
                    <p class="text-dark">Hackathon</p>
                </button></div>
        </div>
    </div><!-- Content section-->
    <div class="div4 w-100 text-center d-block my-5  bg-image-full "
        style=" height: 200px; background-image: url('https://i.postimg.cc/NMgGBgGs/benefits-of-minimalism.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center ">
        <div class="row ms-5 w-100 container pt-5">
            <div class="col container  ">
                <div class="w-50 container p-3" style="background-color: rgba(249, 246, 246, 1); border-radius: 10%;">
                    <h1>41+</h1>
                    <h4>Events</h4>
                </div>
            </div>
            <div class="col container  ">
                <div class="w-50 col container text-white p-3"
                    style="background-color: rgba(248, 15, 232, 1); border-radius: 10%;">
                    <h1>1000+</h1>
                    <h4>Participants</h4>
                </div>

            </div>
            <div class="col container  ">
                <div class="w-50 col container p-3 "
                    style="background-color: rgba(249, 244, 244, 0.984); border-radius: 10%;">
                    <h1>100+</h1>
                    <h4>Venues</h4>
                </div>

            </div>
            <div class="col container  ">
                <div class="w-50 text-white col container p-3 "
                    style="background-color: rgb(128, 128, 128,0.4); border-radius: 10%;">
                    <h1>200+</h1>
                    <h4>Sponsors</h4>
                </div>

            </div>
        </div>

    </div>

</body>

</html>